body{
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("assets/images/slash_it.png");
    background-color: darkgrey;
}
p{
    font-size: 16px;
    line-height: 200%;
}
/*wrapped each row in a container that has the fixed width and is centered.
 *overflow auto stops the container from collapsing when child elements are floated*/
.container{
    width: 960px;
    margin: auto;
    overflow: auto;
}
#social li img {
    width: 60px;
    height: auto;
    margin-right: 6px;
}
#social ul li {
    display: inline;
}
ul#nav li{
    display: inline;
    font-size: 18px;
    color: grey;
    margin: 0 12px;
    border-right: 1px solid grey;
}
ul#nav{
    float: right;
    color:#777;
    padding: 30px 0;
}
ul#nav li a{
    color:#333;
    text-decoration: none;
}
#header{
    background-color: white;
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
}
#header h1{
    float: left;
    font-size: 32px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    padding:30px;
}
h2{
    color: #4aaaa5;
    font-size: 28px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}
h3{
    color: #4aaaa5;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}
img#portrait{
    width: 200px;
    height: auto;
    float: left;
    margin:0 10px 10px 0;
}
#body {
    clear: both;
    display: block;
    width: 608px;
    float: left;
    border: 1px solid #dddddd;
    margin:30px 0;
    background-color:#fff;
    padding:30px 20px;
}

#social {
    float: right;
    display: block;
    width: 208px;
    border: 1px solid #dddddd;
    margin:30px 0;
    background-color:#fff;
    padding:25px 30px 35px 30px;
}
footer{
    clear: both;
    background-color: #666666;
    padding: 40px 0;
    color:#ccc;
    font-size: 12px;
    text-align: center;
    border-top: 7px solid #4aaaa5;
}
div.ruler-lg{
    background-color:#ddd;
    width: 100%;
    height: 3px;
    margin: 30px 0;
}
div.ruler-sm{
    background-color:#ddd;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    }
footer .container{
    overflow: visible;
    /*added this to get rid of little scroll arrows that were appearing*/
}